:root {
  --link: #ff9b00;
}

.navbar {
  min-height: 6em;
  padding: 1em 0;
}

.logo-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-right: auto;
}

.logo {
  height: 80px;
  width: auto;
  max-width: 200px;
  object-fit: contain;
}

.navbar ul a {
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  .navbar {
    min-height: 5em;
    padding: 0.75em 0;
  }
  
  .logo {
    height: 64px;
    max-width: 150px;
  }
}

