{{ define "main" }}
  {{ .Content }}
  
  {{- $posts := where site.RegularPages "Section" "posts" }}
  {{- $mainPost := where $posts "File.LogicalName" "photo-organizer-project.md" }}
  {{- if $mainPost }}
    {{- $mainPost = index $mainPost 0 }}
  {{- else }}
    {{- $mainPost = index ($posts | first 1) 0 }}
  {{- end }}
  
  {{- if $mainPost }}
    <article>
      <h1>{{ $mainPost.LinkTitle }}</h1>
      {{ partial "metadata.html" $mainPost }}
      {{ $mainPost.Content }}
    </article>
  {{- end }}
{{ end }}

